[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
matplotlib = "*"
scipy = "*"
sklearn = "*"
pandas = "*"
tqdm = "*"
seaborn = "*"
sphinx = "*"
scanpy = "*"

[requires]
python_version = "3.7"
